


<h1>Add NEW Category</h1>

<%= form_with model: @group, url: user_groups_path(@user) do |e|%>
    <div class="mb-3">
        <%= e.label :Name, class:"form-label" %><br />
        <%= e.text_field :name, autofocus: true, class:"form-control",  placeholder:"Enter Entity Name" %>
    </div> 
    <div class="mb-3">
        <%= e.label :image, class:"form-label" %><br />
        <%= e.file_field :image%>
     </div>

     <div class="mb-3">
    <%= e.submit "Add Entity", class:"btn btn-primary" %>
     </div>
  

    <% end %>

